<!-- table-template.handlebars -->
<div class="mmm-fire-alert" style="display: flex;">
  <div class="mmm-fire-alert__left" style="flex: 0 1 50%">{{{left}}}</div>
  <div class="mmm-fire-alert__right" style="flex: 0 1 50%">{{{right}}}</div>
</div>
